
body {
    background-color: white;
    padding: 50px;
}

.title {
    font-size: 50px;
    padding: 10px;
    color: black;
    text-align: center;
    font-weight: bold;
}

footer {
    padding: 10px;
    color: black;
    text-align: center;
    font-size: 10px;
}

p {
    color: black;
    text-align: center;
    font-size: 30px;
    padding: 20px;
}

p1 {
    color: black;
    text-align: center;

}

.navbar-inverse {
    overflow: hidden;
    background-color: dodgerblue;
    border-radius: 10px;
}

.navbar-inverse a {
    float: left;
    color: white;
    padding: 14px 16px;
    font-size: 17px;
}

.navbar-inverse a:hover {
    color: black;
}

.d-flex {
    width: 300px;
    height: 200px;
}

.col {
    font-weight: bold;
    font-size: large;
    margin-bottom: 15px;
    text-align: center;
}

.btn {
    border: 2px solid transparent;
    border-radius: 10px;
    background: dodgerblue;
    color: white;
    width: 250px;
    margin-bottom: 10px;
}

.btn-success{
    width: auto;

}