
body {
    font-family: Arial;
    background-color: #3498DB;
    padding: 50px;
}
div.container {
    width: 100%;
    border: 1px #3498DB;
}

h1 {
    padding: 1em;
    color: #3498DB;
    background-color: white;
    clear: left;
    text-align: center;

}

footer {
    padding: 1em;
    color: #3498DB;
    background-color: white;
    clear: left;
    text-align: center;
    font-size: 10px;

}

p {
    color: black;
    text-align: center;
    font-size: 30px;

}

p1 {
    color: black;
    text-align: center;
    
}

body {margin:0;}

.menu {
    overflow: hidden;
    background-color: #3498DB;
}

.menu a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.menu a:hover {
    background-color: #3498DB;
    color: black;
}

.menu a.active {
    background-color: #3498DB;
    color: white;
}
